* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #F55B64;
    --cor-secundaria: #C2373F;
    --neutro: #F9F9F9;
    --preto: #131730;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --degrade-azul: linear-gradient(180deg, #000000 0%, #26327F 100%);
    --fonte-formulario: "Montserrat", sans-serif;
}


body {
    /* Define a cor do fundo do body.*/
    background: var(--degrade-azul) no-repeat;
    /* define que a nossa tela vai ocupar  100% da altura da tela do dispositivo */
    height: 100vh;
    /* Deixa o container flexível para alinhar os filhos */
    display: flex;
    /* Define a direção do conteúdo do container como vertical */
    flex-direction: column;
    /* Alinha os itens filhos ao centro do container */
    align-items: center;
}

.container-lista-de-compras {
    /* define a cor do fundo do main */
    background-color: var(--neutro);
    /* define a largura */
    width: 440px;
    /* define a margem externa que o elemento terá */
    margin: 64px;
    /* define o raio da borda arredondada */
    border-radius: 16px;
    /* define a margem interna que o elemento terá */
    padding: 56px;
    /* define o ontainer como flexível para alinhar os filhos */
    display: flex;
    /* Define a direção do conteúdo do container como vertical */
    flex-direction: column;
    /* Alinha os itens filhos ao centro do container */
    align-items: center;
    /* define o espaçamento entre os elementos filhos do container */
    gap: 24px;
}

.formulario {
    /* define o ontainer como flexível para alinhar os filhos */
    display: flex;
    /* Define a direção do conteúdo do container como vertical */
    flex-direction: column;
    /* Alinha os itens filhos ao centro do container */
    align-items: center;
    /* define o espaçamento entre os elementos filhos do container */
    gap: 8px;
    /* define a margem inferior externa do elemento */
    margin-bottom: 24px;
}

.form__input-lista {
    /* define as margens internas que o elemento terá. 
        1 valor: todos os 4 lados do elemento
        2 valores: o primeiro será aplicado para acima e abaixo e o segundo será aplicado à direita e à esquerda
        4 valores: acima, à direita, abaixo e à esquerda 
    */
    padding: 12px 16px;
    /* define que o input ocupará toda a largura da tela que tem disponível pra ele */
    display: block;
    /* define o raio da borda arredondada */
    border-radius: 24px;
    /* define a largura */
    width: 307px;
    /* define a fonte que será utilizada nos textos do elemento */
    font-family: var(--fonte-formulario);
    /* define o estilo da borda do input */
    border: 1px solid var(--preto);
}

.form__input-lista::placeholder {
    /* define o alinhamento do texto dentro do elemento */
    text-align: center;
    /* define o tamanho da fonte do texto */
    font-size: 16px;
    line-height: 19px;

}

.form__botao {
    text-align: center;
    width: 140px;
    font-family: var(--fonte-texto);
    font-size: 18px;
    color: var(--neutro);
    background-color: var(--cor-primaria);
    border: none;
    padding: 12px 16px;
    border-radius: 24px;
    line-height: 24px;
    cursor: pointer;
}

.container-lista {
    width: 100%;
    font-size: 12px;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
}

hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
    width: 100%;
}

.container-item-da-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_container {
    display: flex;
    gap: 8px;
}

.checkbox-item {
    display: none;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
}

.checked {
    background-color: var(--preto);
    position: relative;
}

.checkbox-customizado.checked::after{
        content: "";
        position: absolute;
        left: 30%;
        top: -10%;
        width: 5px;
        height: 14px;
        border-top: 2px solid var(--neutro);
        border-left: 2px solid var(--neutro);
        transform: rotate(-140deg);
}

p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.item-botao{
    background-color: transparent;
    border: none;
}

#item__data-hora {
    font-size: 12px;

}